<?xml version="1.0"?>
<!--
  ~ @package Vinduesgrossisten.
  ~ @author Simonchik <alexandr.simonchik@gmail.com>
  ~ @Copyright
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="BelVG_InstallationElements::InstallationElements" sortOrder="10" title="Installation Elements">
                    <resource id="BelVG_InstallationElements::Config" sortOrder="10" title="Installation Elements Config "/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
