<?xml version="1.0"?>
<!--
  ~ @package Vinduesgrossisten.
  ~ @author Simonchik <alexandr.simonchik@gmail.com>
  ~ @Copyright
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <belvg_installation_elements>
            <general>
                <subscribers_list>service@vinduesgrossisten.dk</subscribers_list>
            </general>
            <standard_price>
                <window_sqr>
                    <item1>
                        <window_sqr_sku_prefix>TR-S1,TR-TS1,TRAL-TS1,TRKOAL-TS1,PVC-TS1,TR-TS2,TRAL-TS2,TRKOAL-TS2,PVC-TS2-11</window_sqr_sku_prefix>
                        <window_sqr_from_sqr>0</window_sqr_from_sqr>
                        <window_sqr_to_sqr>2.3</window_sqr_to_sqr>
                        <window_sqr_price>1950</window_sqr_price>
                    </item1>
                    <item2>
                        <window_sqr_sku_prefix>TR-S1,TR-TS1,TRAL-TS1,TRKOAL-TS1,PVC-TS1,TR-TS2,TRAL-TS2,TRKOAL-TS2,PVC-TS2-11</window_sqr_sku_prefix>
                        <window_sqr_from_sqr>2.3</window_sqr_from_sqr>
                        <window_sqr_to_sqr>999999999</window_sqr_to_sqr>
                        <window_sqr_price>2950</window_sqr_price>
                    </item2>
                </window_sqr>
                <door_sqr>
                    <item1>
                        <door_sqr_sku_prefix>TR-F1,TRAL-F1,TR-PL1,TRAL-PL1</door_sqr_sku_prefix>
                        <door_sqr_from_sqr>0</door_sqr_from_sqr>
                        <door_sqr_to_sqr>999999999</door_sqr_to_sqr>
                        <door_sqr_price>2200</door_sqr_price>
                    </item1>
                    <item2>
                        <door_sqr_sku_prefix>TR-F2,TRAL-F2,TR-PL2,TRAL-PL2</door_sqr_sku_prefix>
                        <door_sqr_from_sqr>0</door_sqr_from_sqr>
                        <door_sqr_to_sqr>999999999</door_sqr_to_sqr>
                        <door_sqr_price>2750</door_sqr_price>
                    </item2>
                    <item3>
                        <door_sqr_sku_prefix>TR-SK2-11,TRAL-SK2-11</door_sqr_sku_prefix>
                        <door_sqr_from_sqr>0</door_sqr_from_sqr>
                        <door_sqr_to_sqr>4.5</door_sqr_to_sqr>
                        <door_sqr_price>5000</door_sqr_price>
                    </item3>
                    <item4>
                        <door_sqr_sku_prefix>TR-SK2-11,TRAL-SK2-11</door_sqr_sku_prefix>
                        <door_sqr_from_sqr>4.5</door_sqr_from_sqr>
                        <door_sqr_to_sqr>999999999</door_sqr_to_sqr>
                        <door_sqr_price>10000</door_sqr_price>
                    </item4>
                </door_sqr>
                <layer_glass>300</layer_glass>
            </standard_price>
            <optional_price>
                <construction>
                    <item1>
                        <construction_from_items>1</construction_from_items>
                        <construction_to_items>5</construction_to_items>
                        <construction_price>950</construction_price>
                    </item1>
                    <item2>
                        <construction_from_items>6</construction_from_items>
                        <construction_to_items>10</construction_to_items>
                        <construction_price>1700</construction_price>
                    </item2>
                    <item3>
                        <construction_from_items>11</construction_from_items>
                        <construction_to_items>20</construction_to_items>
                        <construction_price>2900</construction_price>
                    </item3>
                    <item4>
                        <construction_from_items>21</construction_from_items>
                        <construction_to_items>30</construction_to_items>
                        <construction_price>4500</construction_price>
                    </item4>
                    <item5>
                        <construction_from_items>31</construction_from_items>
                        <construction_to_items>999999999</construction_to_items>
                        <construction_price>6000</construction_price>
                    </item5>
                </construction>
                <internal>
                    <item1>
                        <internal_sku_prefix>TR-S1,TR-TS1,TRAL-TS1,TRKOAL-TS1,PVC-TS1,TR-TS2,TRAL-TS2,TRKOAL-TS2,PVC-TS2-11</internal_sku_prefix>
                        <internal_price>780</internal_price>
                    </item1>
                    <item2>
                        <internal_sku_prefix>TR-F1,TRAL-F1,TR-PL1,TRAL-PL1,TR-F2,TRAL-F2,TR-PL2,TRAL-PL2</internal_sku_prefix>
                        <internal_price>860</internal_price>
                    </item2>
                    <item3>
                        <internal_sku_prefix>TR-SK2-11,TRAL-SK2-11</internal_sku_prefix>
                        <internal_price>1200</internal_price>
                    </item3>
                </internal>
            </optional_price>
            <supplement_price>
                <driving>799</driving>
                <high_ground_floor>500</high_ground_floor>
                <assembly_1_floor>600</assembly_1_floor>
                <above_1_floor>700</above_1_floor>
            </supplement_price>
            <routeplanner>
                <type_id>14</type_id>
                <status_after_creation>8</status_after_creation>
            </routeplanner>
            <reminder>
                <status>new_sendtofactory,processing_sendtofactory</status>
                <subscribers_list>service@vinduesgrossisten.dk</subscribers_list>
                <delay>3</delay>
                <template>belvg_installation_elements_reminder_template</template>
            </reminder>
        </belvg_installation_elements>
    </default>
</config>
