<?xml version="1.0" ?>
<!--
  ~ @package Vinduesgrossisten.
  ~ @author Simonchik <alexandr.simonchik@gmail.com>
  ~ @Copyright
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="belvg_layout" frontName="belvg_layout">
            <module name="BelVG_LayoutCustomizer"/>
        </route>
    </router>
</config>
